/* components/LoginForm.module.css */

.updateProfile {
    left: 50%;
    top: 50%;
    margin-left: -7%;
    position: absolute;
    margin-top: -17%;
  }
  
  .updateProfile div {
    margin-bottom: 1rem;
  }
  
  .updateProfile label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .updateProfile input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .updateProfile button {
    padding: 0.5rem;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .updateProfile button:hover {
    background-color: #005bb5;
  }
  
  .updateProfile p {
    color: red;
    font-size: 0.875rem;
  }
  .updateProfile ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 0;
    list-style-type: none;


  }
  .updateProfile li{
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    margin:0%;
  }
  .updateProfile li:hover{
    transform:translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }
  .updateProfile ul  p{
    margin: 0 0 8px;
    font-size: 14px;
    color: #333;
  }
  .updateProfile li button{
    text-align: center;
    margin-left: 35%;
  }

  